#name {
    margin: 0;
    font-size: 40px;
}

body{
    /* background-color:transparent; */

    margin:0;
    overflow:auto;
    /* display:flex; */
    /* flex-direction:column; */
    justify-content:center;
    text-align: center;
    align-items:center;
}
#main {
    background-color:transparent;
    /* display:flex; */
    /* flex-direction:column; */
    justify-content:center;
    align-items:center;
}
#bg {
    background:rgb(67, 195, 255);
    margin:0;
    padding: 0;
    width: fit-content;
}

.hlist {
    overflow:auto;
    display:inline;
    justify-content:center;
    align-items:center;
    position: relative;
    vertical-align: top;
    /* white-space: nowrap; */
    text-wrap: nowrap;

}
.hlistitem {
    margin: 0px 20px 0px 20px;
    background-color: rgba(0, 0, 0, 0);

    overflow:auto;
    display:inline-block;
    /* flex-direction:column; */
    justify-content:center;
    align-items:center;
    position: relative;
    vertical-align: top;
    
}
.hlistitem:hover {
    transform: scale(1.2);
  }
.listheading {
    color: blue;
    position: relative;
    justify-content:center;
    vertical-align: top;

}

.itempoint {
    color: magenta;
    position: relative;
    justify-content:center;
    vertical-align: top;
}

#gameCanvas{
    margin: 0;
    background:rgb(67, 195, 255);
    position: absolute; /*Can also be `fixed`*/
        left: 0;
        right: 1;
        top: 1;
        bottom: 0;
        margin: auto;
    z-index: -1;
}