#name {
    font-size: 40px;
}

body{
    margin:0;
    background:rgb(67, 195, 255);
    /* overflow:hidden; */
    /* display:flex; */
    flex-direction:column;
    justify-content:center;
    text-align: center;
    align-items:center;
}
#main {
    background:rgb(67, 195, 255);
    /* display:flex; */
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.hlist {
    /* overflow:hidden; */
    display:inline-block;
    justify-content:center;
    align-items:center;
    position: relative;
    vertical-align: top;

}
.hlistitem {
    margin: 0px 20px 0px 20px;
    /* overflow:hidden; */
    display:inline-block;
    /* flex-direction:column; */
    justify-content:center;
    align-items:center;
    position: relative;
    vertical-align: top;
    
}
.listheading {
    color: blue;
    position: relative;
    justify-content:center;
    vertical-align: top;

}

.itempoint {
    color: magenta;
    position: relative;
    justify-content:center;
    vertical-align: top;
}

#gameCanvas{
    background:rgb(67, 195, 255);
    position: absolute; /*Can also be `fixed`*/
        left: 0;
        right: 1;
        top: 1;
        bottom: 0;
        margin: auto;
    z-index: -1;
}